<!DOCTYPE html>
<html>
    <head>
        <title>Find All Employees</title>
        <meta charset="utf-8" />
        <style type="text/css"> 
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
        </style>
    </head>
    <body>
       <div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="error-template">
			        <h3>Please check IDE console for Output</h3>
			        <!-- <h1 th:text="${errorCode}">404</h1> -->
		                <!-- <div class="error-details">
		        			<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
		                </div> -->
		                <div class="error-actions"> 
				        	<a href="/" th:href="@{/}">Back to Home Page</a>
				        </div>
		            </div>
		        </div>
		    </div>
	  </div>
	</body>
</html>


